body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

/*Cabeçalho*/

header {
    background-color: black;
    height: 120px;
    position: fixed;
    width: 100%;
}

header nav {
    padding-left: 100px;
    display: flex; 
}

header nav img {
    padding-top: 10px;
}

.menu-items {
    display: flex;
    list-style-type: none;
}

.menu-items a {
    color: goldenrod;
    padding: 15px;
    font-size: 15px;
}

.menu-items a:hover {
    color: rgb(245, 245, 46);
}

ul {
    padding-left: 700px;
    display: flex;
    padding-top: 25px;
}

/*Sessão inicial*/
.inicio-container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 50px; 
}

.frase {
    width: 1200px;      
    text-align: center;
}

.frase h1 {
    font-family:'Dancing Script', cursive;
    font-size: 100px;
}