body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

/*Cabeçalho*/

header {
    background-color: black;
    height: 120px;
    position: fixed;
    width: 100%;
}

header nav {
    padding-left: 100px;
    display: flex; 
}

header nav img {
    padding-top: 10px;
}

.menu-items {
    display: flex;
    list-style-type: none;
}

.menu-items a {
    color: goldenrod;
    padding: 15px;
    font-size: 15px;
}

.menu-items a:hover {
    color: rgb(245, 245, 46);
}

ul {
    padding-left: 700px;
    display: flex;
    padding-top: 25px;
}

/*Seção inicial*/
.inicio-container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 50px; 
}

.frase {
    width: 1200px;      
    text-align: center;
}

.frase h1 {
    font-family:'Dancing Script', cursive;
    font-size: 100px;
}

/*Seção produtos*/

#produtos {
    width: 100%;
    max-width: 1500px;
    height: 100%;
    height: 2700px;
    margin: 0 auto;
    text-align: center;
    background-color: gold;
    border: 10px double black;
}

.produtos-title {
    font-family:'Dancing Script', cursive;
    font-size: 100px;
}

.produtos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.produtos-item {
    width: 400px;
    height: 350px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
}

section img:hover {
    border: 3px solid black;
}